{% extends 'base.html' %}
{% block content %}

    <div class="jumbotron">
        <h1 class="display-3"><img width="95" height="50"
                                   src="{{ MEDIA_URL }}{{ league.country.flag.url }}"> {{ league.name }}</h1>
        <p class="lead">{{ league.description }}</p>
        <hr class="my-4">

        {% for season in seasons %}
            <h3>{{ season.season }}</h3>
            <table class="table_auto table-hover table">
                <thead>
                <tr style="width:100%">
                    <th scope="col" style="width:10%; text-align: center">#</th>
                    <th scope="col" style="width:50%; text-align: left">Team</th>
                    <th scope="col" style="width:10%; text-align: center">Points</th>
                    <th scope="col" style="width:10%; text-align: center">W</th>
                    <th scope="col" style="width:10%; text-align: center">D</th>
                    <th scope="col" style="width:10%; text-align: center">L</th>
                </tr>
                </thead>
                {% for team in teams %}
                    {% for t in team.teamseason_set.all|dictsort:"points" %}
                        {% if t.season == season %}
                            <tbody style="width:100%">
                            <tr class="table-success">
                                <td scope="row" style="width:10%; text-align: center"></td>
                                <td style="width:50%; text-align: left">{{ t.team }}</td>
                                <td style="width:10%; text-align: center">{{ t.points }}</td>
                                <td style="width:10%; text-align: center">{{ t.wins }}</td>
                                <td style="width:10%; text-align: center">{{ t.draws }}</td>
                                <td style="width:10%;text-align: center">{{ t.losses }}</td>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        {% endfor %}
    {% include 'paginator.html' with object=seasons %}
    </div>

{% endblock %}