{% for object in objects_list %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">{{ object }}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-success">
            <td><a href="{{ object.get_detail_url }}"> {{ object }}</a>
            <a href="/edit_league/{{ object.id }}/"> <button> Edit </button></a>
            <a href="/delete_league/{{ object.id }}/"><button>Delete</button></a></td>
        </tr>
        </tbody>
    </table>
{% endfor %}