{% extends 'base.html' %}
{% block content %}

    <div class="jumbotron">
        <h1 class="display-3">Matches!</h1>
        <p class="lead">On this page you can search matches.</p>
        <hr class="my-4">

        <form>
            {{ search_form.as_p }}
            <input type="submit" value="Search"><br>
        </form>
    <br>

        {% for league in leagues %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col"><img width="35" height="20"
                                         src="{{ MEDIA_URL }}{{ league.country.flag.url }}">    {{ league.name }}</th>
                </tr>
                </thead>

                {% for match in matches %}
                    {% if match.team_home.season.league.name == league.name %}
                            <tbody style="width:100%">
                            <tr class="table-success">
                                <td class="hidden"></td>
                                <td style="width:15%; text-align: left">{{ match.date }}</td>
                                <td style="width:25%; text-align: right">{{ match.team_home.team.name }}</td>
                                <td style="width:8%; text-align: right">{{ match.score_home |default_if_none:" - " }}</td>
                                <td style="width:4%; text-align: center"> :</td>
                                <td style="width:8%; text-align: left">{{ match.score_away |default_if_none:" - " }}</td>
                                <td style="width:25%;text-align: left">{{ match.team_away.team.name }}</td>
                            <td style="width:15%;text-align: right">
                                {% if perms.footballscore_app.change_match %} <a href="/footballscore/edit_match/{{ match.id }}/">
                            <button type="button" class="btn btn-primary">Edit</button> {% endif %}
                        </a>
                       {% if perms.footballscore_app.delete_match %} <a href="/footballscore/delete_match/{{ match.id }}/">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Delete</button>
                        </a>{% endif %}</td>
                            </tbody>
                       {% endif %}
                {% endfor %}
            </table>
        {% endfor %}

    </div>

{% endblock %}